$width: 900px;
$height: 310px;
.carousel{
  width: $width;
  min-height: $height;
  text-align: center;
  margin: 0 auto;
  /*overflow: hidden;*/
  border: 1px solid black;
  border-radius: 5px;
}
.carousel .container{
  height: 100%;
  min-height: $height;
}
.carousel .container .active{
  display: block;
}

.carousel .container .hide{
  display: none;
}

.carousel .container ul{
  height: 100%;
  width: 100%;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  list-style: none;
  margin: 0;
  padding: 0;
}
.carousel .container ul li{
  width: 100%;
  min-width: $width;
  height: 100%;
}
.carousel .container ul li img{
  max-width: 100%;
  max-height: 100%;
}
.pagination{
  padding: 20px;
  cursor: pointer;
}
